@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Space Mono", monospace;
    @apply tracking-widest;
  }
  
  h1 {
    @apply font-bold text-2xl text-primaryText dark:text-whiteText;
  }

  h2 {
    @apply text-xl;
  }
}

